!!!
html(manifest='rivulet.appcache')
  include head
  body
    include header
    #container
      #container-content.content
        h2 Concept
        p Feed readers should embraces the 'River of News' principle of feed reading. Article reading should be simple and easy to use. It is a free, open source alternative to Google Reader.
        h2 Creator
        p This app was coded over summer break by Matthew Bauer, a high school student.
        h2 Internals
        p
          | This application uses Google Go and Google App Engine.
          a(href='/api') info on the API
