!!!
html
  include head
  body#extras
    include header
    #sidebar
      ul#nav
        li
          a#back(href='/app', target='_self', title='back')
            i.fa.fa-chevron-sign-left
    #container
      #container-content.content
        h1 Extras
        h2 Bookmarklet
        p This bookmark is inspired by Google Reader's bookmarklet. It allows you to get the next unread article in your reading list. Click on it to get the next article.
        p To use the bookmarklet, simple drag the link below to your bookmark bar.
        p
          a#bookmarklet(href='http://myrivulet.appspot.com/article?output=redirect&count=1') Next→ 
        h2 Apps
        ul
          li
            a(href='https://chrome.google.com/webstore/detail/rivulet/icodakibhkgbddiipldgkmgeoenndbpc') Chrome OS app
          li
            a(href='https://marketplace.firefox.com/app/rivulet') Firefox Marketplace
        h2 Source
        p
          a(href='http://github.com/matthewbauer') Github