!!!
html(manifest='rivulet.appcache')
  include head
  body
    include header
    a#back(href='/app', target='_self')
      i.icon-chevron-sign-left
    #container
      #container-content.content
        | {{with .SuggestedFeeds}}
        #suggested
          h2 Suggested
          ul
            | {{range .}}
            li.feed(id='{{.URL}}')
              a.subscribe.icon-plus(href='/feed?subscribe=1&url={{.URL}}')
              a.feed-link(href='{{.URL}}') {{.Title}}
            | {{end}}
          form#addfeed(action='/feed', method='post')
            input(type='url', name='url')
            input(type='submit', value='subscribe')
        | {{end}}
        | {{with .Feeds}}
        #feeds
          h2 Subscribed
          ul#feeds
            | {{range .}}
            li.feed(id='{{.URL}}')
              a.unsubscribe.icon-minus(href='/feed?unsubscribe=1&url={{.URL}}')
              a.feed-link(href='{{.URL}}') {{.Title}}
            | {{end}}
        | {{end}}
