!!!
html(manifest='rivulet.appcache')
  include head
  body
    include header
    a#back(href='/app', target='_self')
      i.icon-chevron-sign-left
    #container
      #container-content.content
        | {{with .SuggestedFeeds}}
        #suggested
          form#addfeed.form-inline(action='/feed', method='post')
            input(type='url', name='url', placeholder='http://www.example.com/feed.rss')
            input.btn(type='submit', value='subscribe')
          h2 Suggested
          ul
            | {{range .}}
            li.feed(id='{{.URL}}')
              a.subscribe.btn(href='/feed?subscribe=1&url={{.URL}}')
                i.icon-plus
              a.feed-link(href='{{.URL}}') {{.Title}}
            | {{end}}
        | {{end}}
