- var i = Math.floor(Math.random() * (3 - 1 + 1)) + 1;
- if (i == 1)
  a#tag(href='/about', target='_self') it's twitter for long attention spans
- if (i == 2)
  a#tag(href='/about', target='_self') less is more
- if (i == 3)
  a#tag(href='/about', target='_self') where are the distractions?
