#header
  #tools
    a#about.action(href='/about', title='about the app')
      i.icon-question
    a(href='/')
      img#logo(alt='rivulet', src='static/logo.png', height='64', width='64', title='rivulet')
    a#add.action(href='/feed', title='add and remove feeds')
      i.icon-plus
  a#tag(href='/about') it's twitter for long attention spans
