#header
  #tools
    a#about.action.btn.icon-question(href='/about')
    a#email.action.btn.icon-envelope(href='mailto:mjbauer95@gmail.com')
    a(href='/')
      img#logo(alt='rivulet', src='static/logo.png', height='64', width='64')
    a#add.action.btn.icon-plus(href='/feed')
    a#logout.action.btn.icon-signout(href='/logout')
  a#tag(href='/about') it's twitter for long attention spans
