head
    title rivulet
    base(target='_blank')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='bootstrap/bootstrap-fileupload.min.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='style.css')
    script(src='jquery.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='bootstrap/bootstrap-fileupload.min.js')
    script(src='script.js')
    include icons
    include analytics
