#header
  #tools
    a#about.action(href='/about', title='about the app', target='_self')
      i.icon-question
    a(href='/', target='_self')
      img#logo(alt='rivulet', src='static/logo.png', height='64', width='64', title='rivulet')
    a#add.action(href='/feed', title='add and remove feeds', target='_self')
      i.icon-plus
  a#tag(href='/about', target='_self') it's twitter for long attention spans
