#header
  #tools
    a(href='/', target='_self')
      img#logo(alt='rivulet', src='static/logo.png', height='64', width='64', title='rivulet')
  a#tag(href='/about', target='_self') it's twitter for long attention spans
