#header
  #tools
    a#about.action.btn.icon-question(href='/about', title='about the app')
    a(href='/')
      img#logo(alt='rivulet', src='static/logo.png', height='64', width='64', title='rivulet')
    a#add.action.btn.icon-plus(href='/feed', title='add and remove feeds')
  a#tag(href='/about') it's twitter for long attention spans
