!!!
html
  include head
  body#help
    include header
    #sidebar
      ul#nav
        li
          a#back(href='/app', target='_self', title='back')
            i.fa.fa-chevron-sign-left
    #container
      #container-content.content
        h2 Support
        p
          | This is a non profit app, so support may be hard to find.
        p
          | Try submitting questions to 
          a(href='http://reddit.com/r/rivulet') our subreddit.
        p
          | Submit bugs to 
          a(href='https://github.com/matthewbauer/rivulet/issues') our github big tracker.
        p
          | If you have any problems, concerns, or requests, feel free to 
          a(href='mailto:mjbauer95@gmail.com') email me.
