link(rel='shortcut icon', type='image/x-icon', href='favicon.ico', sizes='16x16 32x32 64x64')
link(rel='shortcut icon', type='image/png', href='icon.png', sizes='256x256')
link(rel='shortcut icon', type='image/png', href='icon32.png', sizes='32x32')
link(rel='shortcut icon', type='image/svg+xml', href='icon.svg')
link(rel='apple-touch-icon', href='icon57.png')
link(rel='apple-touch-icon', href='icon72.png', sizes='72x72')
link(rel='apple-touch-icon', href='icon114.png', sizes='114x114')
link(rel='apple-touch-icon', href='icon144.png', sizes='144x144')
