!!!
html
  include head
  body#landing
    include header
    #container
      #container-content.content
        #landing.hero-unit
          img#logo(src='/logo.png')
          h1 Rivulet
          p a new way to look at RSS
          p#promo
            i.fa.fa-circle-blank
            |  Simple&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
            i.fa.fa-fast-forward
            |  Fast&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
            i.fa.fa-github
            | &nbsp;
            a(href='https://github.com/matthewbauer/rivulet') Open Source
          p
            a#use.btn.btn-large.btn-primary(href='/login', target='_self')
              i.fa.fa-ok
                | Use
          p#self
            | Created by 
            a(href='http://twitter.com/matthewbauer') Matthew Bauer
