!!!
html(manifest='rivulet.appcache')
  include head
  body
    include header
    #container
      #badge
        h1 Rivulet
        p a new way to look at RSS
        #promo
          i.icon-usd
          |  Free&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
          i.icon-fast-forward
          |  Fast&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
          i.icon-github
            a(href='https://github.com/matthewbauer/rivulet') Open Source
        a#use.btn.btn-large.btn-primary(href='/app')
          i.icon-ok
          | Use
        #credit
          Created by 
          a(href='http://twitter.com/matthewbauer') Matthew Bauer
