!!!
html(manifest='rivulet.appcache')
  include head
  body
    include header
    #container
      #container-content.content
        #badge
          h1 Rivulet
          p A new way to look at RSS
          #promo
            i.icon-usd
            | Free  ·  
            i.icon-fast-forward
            | Fast  ·  
            i.icon-github
            a(href='https://github.com/matthewbauer/rivulet') Open Source
          a.btn.btn-primary.btn-large(href='/app')
            i.icon-ok
            | Use
          #credit
            Created by 
            a(href='http://twitter.com/matthewbauer') Matthew Bauer
