!!!
html
  include head
  body#offline
    include header
    #container
      #sidebar
        ul
          li#nav
            a#back(href='/app', target='_self', title='back')
              i.fa.fa-chevron-sign-left
      #container-content.content
        a#prev.action.fa.fa-arrow-up
        #unsubscribe-alert.modal.hide.fade.in
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3
              | Are you sure you want to unsubscribe from 
              span.feed-name
              | ?
          .modal-body
            | This will remove all articles in your reading list from the feed with the url of 
            a.feed-url
          .modal-footer
            a#unsubscribe-ok.btn.btn-danger(data-dismiss='modal') Unsubscribe
            a.btn(href='#', data-dismiss='modal') No
        #feedmodal.modal.hide.fade.in
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 Add Feeds
          .modal-body
            h4 By url
            form#addfeed.form-inline(action='/feed', method='post')
              input(type='url', name='url', placeholder='http://www.example.com/feed.rss')
              button.btn(type='submit') Submit
            h4 or by OPML (batch upload)
            form#opmlfeed.form-inline(action='/feed', method='post')
              .fileupload.fileupload-new(data-provides='fileupload')
                .input-append
                  .uneditable-input.span3
                    i.fa.fa-file.fileupload-exists
                    span.fileupload-preview
                  span.btn.btn-file
                    span.fileupload-new Select .opml file
                    span.fileupload-exists Change
                    input(type='file', accept='application/xml,text/xml,text/x-opml')
                    a.btn.fileupload-exists(href='#', data-dismiss='fileupload') Remove
              label.checkbox
                input(type='checkbox', name='clear', value='clear')
                | Remove default feeds
              button.btn(type='submit') Submit
          .modal-footer
            a.btn(href='#', data-dismiss='modal') Close
        section#articles
        noscript
          | Article could not be loaded:
          a(href='/article?count=5', target='_self') next
        a#next.action.fa.fa-arrow-down(href='/article', target='_self')
