!!!
html
  include head
  body#user
    include header
    #container
      #sidebar
        ul
          li#nav
            a#back(href='/app', target='_self', title='back')
              i.fa.fa-chevron-sign-left
      #container-content.content
        h1 {{.String}}
        | {{with .Feeds}}
        ul
          | {{range .}}
          li {{.}}
          | {{end}}
        | {{end}}
        | {{with .Articles}}
        ul
          | {{range .}}
          li {{.ID}}
          | {{end}}
        | {{end}}
        | {{with .Prefs}}
        ul
          | {{range .}}
          li {{.Field}}/{{.Value}}={{.Score}}
          | {{end}}
        | {{end}}
