!!!
html
  include head
  body
    include header
    span#nav
      a#back(href='/app', target='_self')
        i.icon-chevron-sign-left
    #container
      #container-content.content
        h1 {{.String}}
        | {{with .Feeds}}
        ul
          | {{range .}}
          li {{.}}
          | {{end}}
        | {{end}}
        | {{with .Articles}}
        ul
          | {{range .}}
          li {{.ID}}
          | {{end}}
        | {{end}}
        | {{with .Prefs}}
        ul
          | {{range .}}
          li {{.Field}}/{{.Value}}={{.Score}}
          | {{end}}
        | {{end}}
