@bgheader: #111111;
@fgheader: #999999;
//@bgbody: #E8E8E8;
@bgbody: #FFFFFF;
@fgbody: #484848;

@feedcolor: #24359E;
@fghover: #e15a00;

@black: #050505;
@blue: #24359E;
@red: #DE0909;
@green: #00B518;
@orange: #FF7400;
@highlight: #91A2C7;

body {
  padding: 0;
  margin: 0;
  color: @black;
  background-color: @bgbody;
  font-family: helvetica,arial,sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.content a:hover {
  text-decoration: underline;
}
.content a, .content a:visited {
  color: @blue
}
.content {
  margin: 0 auto;
  @media (max-width: 480px) {
    width: 95%;
  }
  @media (min-width: 480px) and (max-width: 7000px) {
    width: 80%;
  }
  @media (min-width: 700px) and (max-width: 1600px) {
    width: 75%;
  }
  @media (min-width: 1680px) {
    width: 61.80340%;
  }
}
#header {
  @media (max-height: 400px) {
    display: none;
  }
  z-index: 1;
  box-shadow: .5em 0 .5em .5em #ccc;
  padding-top: .5em;
  padding-bottom: .5em;
  color: @fgheader;
  background-color: @bgheader;
}
#logo {
  vertical-align: middle;
}
#credit {
  position: relative;
  left: 1em;
  text-transform: lowercase;
  vertical-align: bottom;
}
a#tag {
  font-style: italic;
  text-decoration: bold;
  color: @fgheader;
  position: absolute;
  top: 0;
  right: 1em;
}
a#tag {
  text-decoration: none;
}
a#tag:hover {
  text-decoration: underline;
}
a#back {
  position: absolute;
  font-size: 3em;
  top: .3em;
  left: 4em;
  color: @fgheader;
}
a#back:hover {
  color: @orange;
  text-decoration: none;
}
#toolbar {
  padding-top: 2em;
}
#container-content {
  padding-top: 1em;
}
a.star:hover:before,
a.star:hover ~ a.star:before {
  content: "\2605";
}
a.action, a.action:visited {
  color: @fgheader;
  vertical-align: middle;
  font-size: 3em;
  padding-left: .5em;
  padding-right: .5em;
}
a.action:hover {
  text-decoration: none;
  color: @orange;
}
.article {
  //background-color: #E8E8E8;
  //background-color: #B5C7C7;
  //background-color: #D9EBEB;
  background-color: #F8F8F8;
  padding: 2em;
  border: 1px solid #d0d0d0;
  border-radius: 1em;
}
.article-header {
  margin-left: 1em;
  font-size: 1.5em;
}
a.article-link, a.article-link:visited {
  color: @fgbody;
  font-weight: bold;
}
.article-content {
  margin-top: 1em;
  margin-bottom: 1em;
}
a.go, a.go:visited {
  color: @black;
}
#next {
  color: @fgbody;
  display: block;
  text-align: center;
  font-size: 4em;
}
#prev {
  color: @fgbody;
  display: none;
  text-align: center;
  cursor: pointer;
  font-size: 4em;
}
#prev:hover, #next:hover {
  color: black;
}
.read {
  display: none;
}
.unread {
}
a.current {
  display: block;
}
.feed {
  list-style-type: none;
}
a.unsubscribe {
}
a.unsubscribe:hover {
  text-decoration: none;
}
a.subscribe {
}
a.subscribe:hover {
  text-decoration: none;
}
#suggested {
  margin-left: 15em;
}
#addfeed {
}
.actions {
  display: none;
  @media (max-width: 300px) {
    display: none;
  }
  font-size: .5em;
  float: right;
}
.feed-link, .feed-link:visited {
  font-size: 1.5em;
  color: @feedcolor;
}
#tools {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#container > a:hover {
  color: @fghover;
}
#container > a {
  color: @fgbody;
}
.article {
  color: @fgbody;
}
.article-header {
  color: @fgbody;
}
.article-content {
  @media (max-height: 250px) {
    display: none;
  }
  color: @fgbody;
}
.mf-viral {
  display: none;
}
.feed-flare {
  display: none;
}
.hero-unit {
  margin-left: 7em;
  margin-right: 7em;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  font-size: 2em;
}
a#add {
  @media (max-height: 400px) {
    display: none;
  }
  position: absolute;
  font-size: 3em;
  top: .3em;
  left: 5em;
}
a#about {
  position: absolute;
  right: 2em;
  top: .5em;
}
.label {
//  color: @fgbody;
//  background-color: @highlight;
  padding: .5em .5em;
  float: right;
  margin-left: 1em;
}
.label:hover {
  text-decoration: none;
}
a.remove:hover {
  text-decoration: none;
}
.feedtag {
  float: right;
}
.feedtag a:hover {
  color: @orange;
  text-decoration: none;
}
a.remove {
  padding-left: 1em;
}
a.remove:hover {
  color: @orange;
}
