@bgbody: #E8E8E8;
@black: #121F36;
@bgheader: #484848;
@fgheader: #AFAFAF;
@red: #DE0909;
@green: #00B518;
@feedcolor: #24359E;
@fghover: #FF5100;

body {
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  color: @black;
  background-color: @bgbody;
  font-family: helvetica,arial,sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@blue: #24359E;
a, a:visited {
  color: @blue
}
.content {
  width: 61.80340%;
//  width: 80%;
  margin: 0 auto;
}
#header {
  box-shadow: .5em 0 .5em .5em #ccc;
  padding-top: .5em;
  padding-bottom: .5em;
  color: @fgheader;
  background-color: @bgheader;
}
#logo {
  vertical-align: middle;
}
#credit {
  position: relative;
  left: 1em;
  text-transform: lowercase;
  vertical-align: bottom;
}
a#tag {
  font-style: italic;
  text-decoration: bold;
  color: @fgheader;
  position: absolute;
  top: 1em;
  right: 1em;
}
#toolbar {
  padding-top: 2em;
}
#container-content {
  padding-top: 1em;
}
a.star:hover:before,
a.star:hover ~ a.star:before {
  content: "\2605";
}
a.action, a.action:visited {
  color: black;
  vertical-align: middle;
  font-size: 3em;
  padding-left: .1em;
  padding-right: .1em;
  opacity: .5;
}
a.action:hover {
  text-decoration: none;
  opacity: 1;
}
.article {
  padding-top: 1em;
  padding-bottom: 1em;
}
.article-header {
  font-size: 1.5em;
}
a.article-link, a.article-link:visited {
  color: #484848;
  font-weight: bold;
}
.article-content {
  margin-top: 1em;
  margin-bottom: 1em;
}
#next {
  display: block;
  text-align: center;
  font-size: 4em;
}
#prev {
  display: none;
  text-align: center;
  font-size: 4em;
}
.read {
  display: none;
}
.unread {
}
a.current {
  display: block;
}
.feed {
  list-style-type: none;
}
.unsubscribe {
  font-size: 3em;
  color: @red;
  text-align: center;
}
.unsubscribe:hover {
  text-decoration: none;
}
.subscribe {
  font-size: 3em;
  color: @green;
  text-align: center;
}
.subscribe:hover {
  text-decoration: none;
}
#suggested {
  float: right;
  margin-left: 2em;
}
.actions {
  font-size: .5em;
  float: right;
}
.feed-link, .feed-link:visited {
  font-size: 1.5em;
  color: @feedcolor;
}
#tools {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#container > a:hover {
  color: @fghover;
}
#container > a {
  color: @bgheader;
}
.article {
  color: @bgheader;
}
.article-header {
  color: @bgheader;
}
.article-content {
  color: @bgheader;
}
.mf-viral {
  display: none;
}
