<!doctype html>
<html>
<head>
{{template "head.html"}}
</head>
<body>
{{template "header.html" .}}
<div id='container'>
<div class='content' id='container-content'>
	<h1>API info</h1>
	<div>
		Some basic info on the API for developers. This is a full API that the web interfaces uses directly.
	</div>
	<div>For an example app, look through the Web app's Javascript: <a href='/main.coffee'>main.coffee</a></div>
	<h2>/article</h2>
	<h3>GET</h3>
	<h3>POST</h3>
	<h2>/feed</h2>
	<h3>GET</h3>
	<h3>POST</h3>
	<h2>/user</h2>
	<h3>GET</h3>
	<h3>POST</h3>
</div>
</div>
</body>
