<!doctype html>
<html>
<head manifest='cache.manifest'>
{{template "head.html"}}
</head>
<body>
{{template "header.html" .}}
<div id='container'>
	<div class='content' id='container-content'>
		<a id='prev' class='action' href='/article'>↑</a>
		{{with .Articles}}
		<section id='articles'>
			{{range .}}
			<article class='article static unread current' id='{{.ID}}'>
				<a class='go action' target='_blank' href='/article?url={{urlquery .URL}}&id={{urlquery .ID}}'>→</a>
				<header class='article-header'>
					<a class='article-link' target='_blank' href='/article?url={{urlquery .URL}}&id={{urlquery .ID}}'>{{.Title}}</a>
				</header>
				<div class='article-content'>{{.Summary}}</div>
			</article>
			{{end}}
		</section>
		{{end}}
		<a id='next' class='action' href='/article'>↓</a>
	</div>
</div>
</body>
</html>
