body {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.content {
	width: 50%;
	margin: 0 auto;
}
#header {
	box-shadow: .5em 0 .5em .5em #ccc;
}
#header-content {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#logo {
	vertical-align: middle;
	display: block;
	margin: 0 auto;
}
#credit {
	position: relative;
	left: 1em;
	text-transform: lowercase;
	vertical-align: bottom;
}
#toolbar {
	padding-top: 2em;
}
#container-content {
	padding-top: 1em;
}
.action {
	font-weight: bold;
}
.action:hover {
	text-decoration: none;
}
.article {
	padding-top: 1em;
	padding-bottom: 1em;
}
.article-header {
	font-weight: none;
	font-size: 1.5em;
}
.article-link {
	font-weight: bold;
}
.article-content {
	display: none;
}
#next {
	display: block;
	margin: 1em auto;
	width: 1em;
}
#prev {
	display: block;
	margin: 1em auto;
	width: 1em;
}
.read {
	display: none;
}
.unread {
	display: none;
}
.current {
	display: block;
}
.feed {
}
.unsubscribe {
	vertical-align: top;
}
.subscribe {
	vertical-align: top;
}
.go {
	float: right;
}
