body {
	color: #121F36;
	background-color: #E8E8E8;
	font-family: helvetica,arial,sans-serif;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
a, a:visited, a:hover, a:active {
	  color: inherit;
}
a:hover {
	text-decoration: underline;
}
.content {
	width: 50%;
	margin: 0 auto;
}
#header {
	font-size: larger;
	box-shadow: .5em 0 .5em .5em #ccc;
}
#header-content {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#logo {
	vertical-align: middle;
	display: block;
	margin: 0 auto;
}
#credit {
	position: relative;
	left: 1em;
	text-transform: lowercase;
	vertical-align: bottom;
}
#toolbar {
	padding-top: 2em;
}
#container-content {
	padding-top: 1em;
}
.action {
	font-weight: bold;
}
.action > a:hover {
	text-decoration: none;
}
.article {
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.5em;
}
.article-header {
	font-size: 1.5em;
	font-weight: none;
	margin-bottom: 1em;
}
.article-link {
	display: block;
	font-weight: bold;
}
.article-content {
	display: none;
	margin-top: 1em;
}
#next {
	display: block;
	margin: 1em auto;
	font-size: 2em;
	width: 1em;
}
.read {
	display: none;
}
.feed {
	font-size: medium;
}
.unsubscribe {
	font-size: 1em;
	vertical-align: top;
}
.subscribe {
	font-size: .5em;
	vertical-align: top;
}
