body {
	padding: 0;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.content {
	width: 61.80340%;
	margin: 0 auto;
}
#header {
	box-shadow: .5em 0 .5em .5em #ccc;
}
#logo {
	vertical-align: middle;
}
#credit {
	position: relative;
	left: 1em;
	text-transform: lowercase;
	vertical-align: bottom;
}
#add {
	margin-left: 20%;
}
#tag {
	margin-left: 40%;
	font-style: italic;
	text-decoration: bold;
	vertical-align: bottom;
}
#toolbar {
	padding-top: 2em;
}
#container-content {
	padding-top: 1em;
}
.action {
	vertical-align: middle;
	font-size: 4em;
	font-weight: bold;
}
.action:hover {
	text-decoration: none;
}
.article {
	padding-top: 1em;
	padding-bottom: 1em;
}
.article-header {
	font-size: 1.5em;
}
.article-link {
	font-weight: bold;
}
.article-content {
	margin-top: 1em;
	margin-bottom: 1em;
}
#next {
	display: block;
	text-align: center;
	font-size: 4em;
}
#prev {
	display: none;
	text-align: center;
	font-size: 4em;
}
.go {
	display: none;
}
.read {
	display: none;
}
.unread {
}
.current {
	display: block;
}
.feed {
	list-style-type: none;
}
.unsubscribe {
	font-size: 3em;
	color: red;
	text-align: center;
}
.unsubscribe:hover {
	text-decoration: none;
}
.subscribe {
	font-size: 3em;
	color: green;
	text-align: center;
}
.subscribe:hover {
	text-decoration: none;
}
#feeds {
}
#suggested {
	float: right;
	margin-left: 2em;
}
#addfeed {
}
.go {
	float: right;
}
#tag {
	display: inline;
}
#tag:link, #tag:visited {
	color: inherit;
}
.feed-link, .feed-link:visited {
	font-size: 1.5em;
	color: blue;
}
