body {
	color: #121F36;
	background-color: #E8E8E8;
	font-family: helvetica,arial,sans-serif;
}
#header {
	color: #AFAFAF;
	background-color: #484848;
}
.action {
	color: black;
}
#container > a:hover {
	color: #FF5100;
}
#container > a {
	color: #AFAFAF;
}
.article {
	color: #484848;
}
.article-header {
	color: #484848;
}
.article-link {
	color: #484848;
}
.article-content {
	color: #484848;
}
