<!doctype html>
<html>
<head>
{{template "head.html"}}
</head>
<body>
{{template "header.html" .}}
<div id='container'>
	<div class='content' id='container-content'>
		{{with .Feeds}}
		<h2>Subscribed</h2>
		<ul id='feeds'>
			{{range .}}
			<li class='feed' id='{{.}}'>
				<a class='feed-link' href='{{.}}'>{{.Name}}</a>
				<a class='unsubscribe' href='/feed?unsubscribe=1&url={{.}}'>-</a>
			</li>
			{{end}}
		</ul>
		{{end}}
		{{with .SuggestedFeeds}}
		<h2>Suggested</h2>
		<ul id='suggested'>
			{{range .}}
			<li class='feed' id='{{.}}'>
				<a class='feed-link' href='{{.}}'>{{.Name}}</a>
				<a class='subscribe' href='/feed?subscribe=1&url={{.}}'>+</a>
			</li>
			{{end}}
		</ul>
		{{end}}
		<form id='addfeed' action='/feed' method='post'>
			<input type='url' name='url'/>
			<input type='submit' value='subscribe'/>
		</form>
	</div>
</div>
<script src='feed.js'></script>
</body>
</html>
