<!doctype html>
<html>
<head manifest='myrivulet.appcache'>
{{template "head.html"}}
</head>
<body>
{{template "header.html" .}}
<div id='container'>
	<div class='content' id='container-content'>
		<h1>{{.String}}</h1>
		{{with .Feeds}}
		<ul>
			{{range .}}
			<li>{{.}}</li>
			{{end}}
		</ul>
		{{end}}
		{{with .Articles}}
		<ul>
			{{range .}}
			<li>{{.ID}}</li>
			{{end}}
		</ul>
		{{end}}
		{{with .Prefs}}
		<ul>
			{{range .}}
			<li>{{.Field}}/{{.Value}}={{.Score}}</li>
			{{end}}
		</ul>
		{{end}}
	</div>
</div>
</body>
</html>
