<!doctype html>
<html manifest='rivulet.appcache'>
<head>
	<title>rivulet</title>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<meta http-equiv='content-type' content='text/html; charset=utf-8'>
	<meta name='format-detection' content='telephone=no'>
	<meta name='apple-mobile-web-app-capable' content='yes'>
	<link href='font-awesome/css/font-awesome.min.css' rel='stylesheet'>
	<script src='static/jquery.min.js'></script>
	<link rel=icon href='favicon.ico'>
	<link rel='stylesheet' href='static/style.css'>
	<script src='static/script.js'></script>
</head>
<body>
<div id='header'>
	<div id='tools'>
		<a href='/'><img id='logo' alt='rivulet' src='static/logo.png' height=64 width=64></a>
		<a href='/feed' class='action btn icon-plus' id='add'></a>
		<a href='/about' class='action btn icon-question' id='about'></a>
		<a href='/api' class='action btn icon-code' id='api'></a>
		<a href='/logout' class='action btn icon-signout' id='logout'></a>
		<a href='mailto:mjbauer95@gmail.com' class='action btn icon-envelope' id='email'></a>
		<a href='/settings' class='action btn icon-cog' id='settings'></a>
		<a href='/about' id='tag'>it's twitter for long attention spans</a>
	</div>
</div>
<div id='container'>
<div class='content' id='container-content'>
	<h1>{{.String}}</h1>
	{{with .Feeds}}
	<ul>
		{{range .}}
		<li>{{.}}</li>
		{{end}}
	</ul>
	{{end}}
	{{with .Articles}}
	<ul>
		{{range .}}
		<li>{{.ID}}</li>
		{{end}}
	</ul>
	{{end}}
	{{with .Prefs}}
	<ul>
		{{range .}}
		<li>{{.Field}}/{{.Value}}={{.Score}}</li>
		{{end}}
	</ul>
	{{end}}
</div>
</div>
</body>
</html>
